
@font-face { 
    font-family: 'LuckyLuke'; 
    src: url('./fonts/Lucky\ Luke.ttf') format('truetype');
}

:root{
    --policeTitre: 'LuckyLuke';
    --policeParagraphe: "Overlock";
    --letterSize: 1.3rem;
    --radius: 1rem;
    --fondColor: rgb(243, 231, 222);
    --colorClair: rgb(241, 207, 165);
    --colorFonce:  rgb(207, 151, 83);
    --colorShadow: rgb(180, 172, 172);
}

html{
    width: 100%;
    background-image: url(./images/background2.jpg);
    scroll-behavior: smooth;
}

body{
    background-color: var(--fondColor);
    font-family: var(--policeParagraphe);
    font-size: var(--letterSize);
    width: 75%;
    margin: auto;
    border: solid 0.5px;
    padding: 2rem;
}


 /* //////////// ANIMATIONS //////////// /* */

.header__image{
    animation: bounce 2s ease-out infinite;
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-2.2rem);}
    60% {transform: translateY(-1rem);}
}

h1:hover{
    transform: scale(1.1);
    color: var(--colorFonce)
}

.imageBiographie{
    animation: rotation 2s linear infinite alternate;
}
@keyframes rotation {
    from {transform: rotate(-8deg);}
    to {transform: rotate(8deg);}
}

.navigation__list:hover{
    color: rgb(29, 24, 13);
}

.secret__button:hover{
    transform:rotate(5deg);
}

.formulaire__form button:hover{
    transform: scale(1.2);
    background-color: var(--colorFonce);
}

.hautPage a:hover{
    color: var(--colorFonce);
    transition: all 0.5s;
}
.images__item:hover{
    transform: scale(1.3) rotate(5deg);
}


/*  /// Pour tous les h2  ///*/
h2{
    font-family: var(--policeTitre);
    font-weight: lighter;
    font-size: 2rem;
}

/* /// Pour les ligne en bas de chaque section /// */
.border__bottom{
    border-bottom: solid 0.5px;
}


/* ****** Header ******* */

.header__title{
    font-family: var(--policeTitre);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    font-family: var(--policeTitre);
    font-size: 4rem;
    font-weight: 100;
    transition: all 0.5s ease-in-out;
}

.header__image{
    background-color: var(--colorFonce);
    width: 10rem;
    height: auto;
    border: solid;
    padding: 2rem;
    margin: 1rem;
    border-radius: 90%;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin: 1rem;
}

.header__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
} 

.navigation{
    display: flex;
}

.navigation__list{
    color: var(--colorFonce);
    font-family:var(--policeParagraphe);
    font-size: 1.5rem;
    justify-content: center;
    padding: 1rem;
    transition: all 0.5s ease-out;
}



/* //// Section Biographie //// */

.biographie{
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
}

.biographie__title{
    font-size: var(--letterSize);
}

.biographie__list ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.biographie__item{
    font-size: var(--letterSize);
    border-radius:var(--radius);
    background-color: var(--colorClair);
    padding: 0.5rem;
    list-style: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    border: solid 0.5px gray;
    width: 14rem;
    box-shadow: 2px 5px 2px var(--colorShadow);
}

.imageBiographie{
    display: flex;
    align-items: flex-end;
    width: auto;
    height: 16rem;
    margin: 1rem  0 0 1rem;
    border: solid 0.5px gray;
    border-radius: var(--radius);
    box-shadow: 10px 8px 5px var(--colorShadow);
}



/* ///// Section Oeuvres  ///// */

.oeuvres{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
}

.oeuvres__title{
    font-size: var(--letterSize);
    display: flex;
    flex-direction: column;
}

.oeuvres__list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
}

.oeuvres__item{
    font-size: var(--letterSize);
    background-color: var(--colorClair);
    border: solid 0.5px gray;
    list-style: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 0.9rem;
    width: 19rem;
    border-radius:var(--radius);
    box-shadow: 2px 5px 2px var(--colorShadow);
}



/* ///// Section images ///// */

.images{
    padding: 1.5rem 0;
}   

.images__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5rem;
}

.images__item{
    height: auto;
    width: 20rem;
    cursor: pointer;
    border-radius: var(--radius);
    box-shadow: 10px 8px 5px var(--colorShadow);
    border: solid 0.5px gray;
    transition: 0.8s ;
}



/*//// Section Citations ////*/

.citations{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
}

.citations h2{
    font-family: var(--policeTitre);
    font-weight: lighter;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.citations__item{
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    margin: 0.1rem;
}



/* //// Secret box ///// */

#myDiv{
    padding: 1rem 0;
    border-radius: var(--radius);
    text-align: center;
    background-color:var(--colorClair);
    visibility: hidden;
    margin: 2rem;
    font-size: 1.3rem;
}

.secret{
    display: flex;
    align-items: center;
    justify-content: center;
}

.secret__button{
    background-color: var(--colorFonce);
    font-size: 1.3rem;
    font-family: var(--policeParagraphe);
    width: 22rem;
    display: flex; 
    justify-content: center;
    box-shadow: 10px 8px 5px var(--colorShadow);
    cursor: pointer;
}



/* //// formulaire de contact ///// */


.formulaire{
    background-image: url(./images/backgroundorange.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: var(--radius);
    box-shadow: 2px 2px 2px var(--colorShadow)
}

.formulaire h3{
    font-family: var(--policeParagraphe);
    font-weight: 600;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}

.formulaire__form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.formulaire__item{
    background-color: var(--fondColor);
    border-radius: var(--radius);
    max-width: 30rem;
    justify-content: center;
    flex-wrap: wrap;
}

.formulaire input{
    font-family: var(--policeParagraphe);
    font-size: var(--letterSize);
    color: rgb(122, 84, 27);
    height: 2rem;
    margin: 0.3rem;
    width: 50rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border: solid 0.5px gray;
}

.formulaire textarea{
    font-family: var(--policeParagraphe);
    font-size: var(--letterSize);
    background-color: var(--fondColor);
    color: rgb(122, 84, 27);
    width: 50rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: solid 0.5px gray;
}

.formulaire__form button{
    background-color:var(--fondColor);
    font-family: var(--policeParagraphe);
    font-size: var(--letterSize);
    border-radius: var(--radius);
    border: solid 0.5px gray;
    color: rgb(122, 84, 27);
    height: 2rem;
    width: 19rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.hautPage{
    margin: 1rem ;
    padding: 0.5rem;
}
.hautPage a{
    color: rgb(29, 24, 13);
}


/* ////// Footer /////// */

#footer{  
    background-color: var(--colorClair);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--letterSize);
    font-family: var(--policeParagraphe);
}


/* ////////        Lightbox      //////// */

#lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
#lightbox.active{
    visibility: visible;
}
#lightbox img{
    width: 90%;
    height: 90%;
    object-fit: contain;
}


/* ////Media Queries (les changements de decors sont volontaire) ////// */
/* Pour les telephone (jusqu'à 480px) */ 
@media (max-width: 480px) { 
    html{
        width: 100%;
        background-image: none;
    }
    body{
        width: 90%;
        margin: auto;
    }
    .header__title{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    figure{
        display: flex;
        justify-self: start;
        margin: 0.3rem;
    }
    header h1{
        font-size: 3rem;
    }
    figcaption{
        font-size: 17px;
    }
    .navigation__list{
        font-size: 18px;
        padding: 0.4rem;
    }
    .biographie{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .biographie__header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .biographie p{
        font-size: 20px;  
        display: flex;
        flex-wrap: wrap;      
    }
    .biographie__list{
        display: flex;
        flex-direction: column;
        width: 20rem;
    }
    .biographie__list ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .biographie__item{
        width: auto;
    }
    .imageBiographie{
        width: 18rem;
        height: auto;
        margin: 2rem;
    }
    .oeuvres__item{
        width: auto;
        font-size: 20px;
    }
    .oeuvres p{
        font-size: 20px;
    }
    .images p{
        font-size: 20px;
    }
    .citations ul{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .secret{
        background-image: url(./images/background.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    } 
    .formulaire{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .formulaire input{
        max-width: 15rem;
    }
    .formulaire textarea{
        max-width: 15rem;
    }
    .formulaire{
        background-image: url(./images/backgroundorange.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .formulaire button {
        max-width: 15rem;
    }
    h3{
        font-size: 20px;
    }
}

/* Pour les telephone en mode paysage ( de 481 px à 768 px)*/
@media (min-width: 481px) and (max-width: 768px) { 
    html{
        background-image: none;
    }
    body{
        width: 95%;
        background-color: rgb(252, 250, 249);
    }
    header{
        background-image: url(./images/background.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    figcaption{
        font-size: 1.3rem;
    }
    .navigation__list{
        color: rgb(117, 72, 45);
        font-size: 1.4rem;
    }
    h2{
        font-size: 2;
    }
    .biographie{
        display: flex;    
        flex-direction: column;
    }
    .biographie p{
        font-size: 1.4rem;
    }
    .biographie__item{
        width: 90%;
        font-size: 20px;
    }
    .imageBiographie{
        width: 20rem;
        height: auto;
    }
    .oeuvres__title p{
        font-size: 1.4rem;
    }
    .oeuvres__item{
        width: 90%;
        font-size: 20px;
    }
    .citations__item{
        font-size: 18px;
    }
    .images p{
        font-size: 18px;
    }
    .secret{
        font-size: 18px;
        margin: 0.1rem;
        background-image: url(./images/lucky-luke.png);
        background-repeat: no-repeat;
        background-position: 90%;
        background-size: 20%;
    }
    .formulaire input{
        width: 20rem;
    }
    .formulaire textarea{
        width: 20rem;
    }
    .formulaire{
        background-image: url(./images/backgroundorange.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

/* Pour les tablettes (de 769 px à 1024 px)*/ 
@media (min-width: 769px) and (max-width: 1024px) { 
    html{
        background-image: none;
    }
    body{
        width: 95%;
        margin: auto;
        background-color: rgb(250, 250, 250);
    }
    header{
            background-image: url(./images/background.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    }
    .navigation__list{
        color:  rgb(117, 72, 45);
    }
    .biographie{
        display: flex;
        flex-direction: column;
    }
    .biographie__list ul{
        display: flex;
        flex-wrap: wrap;
    }
    .oeuvres__item{
        width: 45%;
    }

    .images__list{
        display: flex;
        flex-wrap: wrap;
    }
    .images__item{
        display: flex;
        flex-wrap: wrap;
        width: 32%;
        transition: 0.8s ease;
    }
    .secret{
        background-image: url(./images/latetealenvers.jpg);
        background-repeat: no-repeat;
        background-position: 95%;
        background-size: 13%;
    }

    .formulaire{
        background-image: url(./images/backgroundorange.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

